@import url('../utils/variables.css');

.container {
  width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
  background: var(--bg-main);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    width: 768px;
    background: var(--blue);
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    min-width: 320px;
    background: var(--tomato);
    padding: 0 16px;
  }
}
