@import url('./reset.css');
@import url('../utils/fonts.css');
@import url('./container.css');

@import url('../layout/about.css');
@import url('../layout/benefits.css');
@import url('../layout/covers.css');
@import url('../layout/faq.css');
@import url('../layout/header.css');
@import url('../layout/hero.css');
@import url('../layout/menu.css');
@import url('../layout/projects.css');
@import url('../layout/reviews.css');
@import url('../layout/skills.css');
@import url('../layout/works.css');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Regular';
}

.section {
  margin-bottom: 164px;
}
.section:last-of-type {
  margin-bottom: 0;
}
.section-name {
  font-family: 'SemiBold';
  font-size: 16px;
  line-height: 24px;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .section {
    margin-bottom: 96px;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .section {
    margin-bottom: 64px;
  }
}

span.color {
  color: var(--red);
}

.main-btn {
  font-family: 'Medium';
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: relative;
  background: transparent;
  border-radius: 60px;
  padding: 0;
}
.main-btn .btn-bg {
  padding: 18px 24px;
  background: var(--red);
  border-radius: 60px;
  min-width: 165px;
  transition: all 0.25s ease;
}
.main-btn span {
  position: absolute;
  transform: translate(-50% -50%);
}

.main-btn:hover .btn-bg {
  opacity: 0.5;
}

.theme-color-red {
}
