:root {
  --red: #ed3b44;
  --lime: #c6e327;
  --blue: #0041e8;
  --tomato: #e6533c;
  --green: #2b4441;
  --orange: #ff7f08;

  --red-hover: #e0373f;
  --lime-hover: #aac322;
  --blue-hover: #0137be;
  --tomato-hover: #b64433;
  --green-hover: #192927;
  --orange-hover: #cd6809;

  --bg-main: #1c1d20;
  --bg-cards: #242527;
  --bg-arrows: #3b3b3b;
  --text: #fafafa;
}
