:root {
  /* --main-color: #9db425;
  --main-color-text: #acc720; */
  --olive: #9db425;
  --orange: #fe902b;
  --rosy: #e64f79;
  --terracotta: #9a4360;
  --lilac: #786bcb;
  --turquoise: #005d7c;

  --bg-main: #1c1d20;
  --bg-cards: #242527;
  --bg-arrows: #3b3b3b;
  --text: #fafafa;
}
