/* #region css desktop*/

#covers {
  min-height: 960px;
  min-width: 1440px;
  background-image: url('../../img/covers/backgrounds/covers-background-desktop-1x-min.avif');
  background-color: var(--bg-main);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.content {
  min-width: 1440px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.marquee {
  position: absolute;
  right: -1130px;
  top: -405px;
}

.marquee-line {
  display: flex;
  list-style: none;
  height: 314px;
  margin-bottom: 100px;
  transform: rotate(16deg);
}

.marquee-element {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 544px;
  margin-right: 60px;
  white-space: nowrap;
}

.covers-show {
  animation-name: marqueeLine;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* #endregion css desktop */

/* #region animation */

@keyframes marqueeLine {
  0% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-10%);
  }
}

/* #endregion animation */

/* #region media tablet */

@media screen and (max-width: 1439px) {
  #covers {
    min-height: 960px;
    min-width: 100%;
    background-image: url('../../img/covers/backgrounds/covers-background-tablet-1x-min.avif');
  }

  .content {
    min-width: 768px;
  }

  .marquee {
    right: -1500px;
    top: -380px;
  }

  .marquee-line {
    height: 314px;
    margin-bottom: 100px;
  }

  .marquee-element {
    width: 544px;
    margin-right: 60px;
  }
}

/* #endregion media tablet */

/* #region media mobile */

@media screen and (max-width: 767px) {
  #covers {
    min-height: 504px;
    background-image: url('../../img/covers/backgrounds/covers-background-mobile-1x-min.avif');
  }

  .content {
    max-width: 375px;
    min-width: auto;
  }

  .marquee {
    right: -900px;
    top: -100px;
  }

  .marquee-line {
    height: 163px;
    margin-bottom: 20px;
  }
  .marquee-element {
    width: 282px;
    margin-right: 10px;
  }
}

/* #endregion media mobile */
