.hero-section {
  position: relative;
}
.hero-container {
  position: relative;
  background: transparent;
}
/* #region BACKGROUND */
.hero-bg {
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--bg-main);
  z-index: -10;
}
.hero-ridges {
  display: flex;
  min-width: 70%;
  max-width: 840px;
  height: 100%;
  background: repeating-linear-gradient(
      90deg,
      rgba(127, 127, 127, 0.2) 0px,
      /* 0% */ rgba(255, 255, 255, 0.1) 1.75%,
      /* 43% */ rgba(0, 0, 0, 0.2) 2.33%,
      /* 57% */ rgba(127, 127, 127, 0.2) 8.33% /* 100% */
    ),
    linear-gradient(90deg, var(--main-color-text), var(--bg-main) 100%);
  background-blend-mode: overlay;
  transform: translateX(-1.66%);
}
/* #endregion BACKGROUND*/

h1.hero-title {
  font-weight: 500;
  font-size: 90px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 1150px;

  padding-top: 188px;
  padding-bottom: 330px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    var(--main-color-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* #region SOCIALS AND EMAIL */
.hero-socials-and-email {
  padding-bottom: 32px;

  display: flex;
  gap: 8px;
  justify-content: end;
}
.hero-socials {
  display: flex;
  gap: 8px;
}
.hero-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 55px;
  width: 55px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
}
.hero-email {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 55px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 27.5px;
  padding: 0 24px;
}
/* #endregion SOCIALS AND EMAIL*/

/* #region COLOR THEME CHANGER */
.color-selector-wrapper {
  position: absolute;
  bottom: 90px;
  right: 32px;
}
.color-circles {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 55px;
  margin-left: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color-circles-item {
  height: 63px;
  padding: 4px 0;
}
.color-circle {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  height: 55px;
  width: 55px;
}
.color-circle.active {
  border-color: #fff;
}
/* #region COLORS*/
.olive {
  background-color: #9db425;
}
.orange {
  background-color: #fe902b;
}
.rosy {
  background-color: #e64f79;
}
.terracotta {
  background-color: #9a4360;
}
.lilac {
  background-color: #786bcb;
}
.turquoise {
  background-color: #005d7c;
}
/* #endregion COLORS */

.color-selector-btn {
  margin-left: auto;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  height: 55px;
  width: 55px;
  border: 2px solid transparent;
  border-radius: 50%;

  animation-name: my-animation;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes my-animation {
  from {
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.4),
      0 0 2px rgba(255, 255, 255, 0);
  }
  to {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0),
      0 0 7px rgba(255, 255, 255, 0.5);
  }
}
.color-selector-btn::before {
  content: 'Change Color Theme';
  position: absolute;
  left: -199px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  visibility: hidden;
  opacity: 0;
  transform: translateX(5px);
  transition: opacity 300ms;
  transition: transform 300ms;
}
.color-selector-btn:hover::before,
.color-selector-btn:focus::before {
  visibility: visible;
  transform: translateX(-5px);
  opacity: 0.3;
}
.color-selector-btn:active::before {
  visibility: hidden;
}
/* #endregion COLOR THEME CHANGER*/

/* #region MEDIA */
@media screen and (max-width: 1439px) {
  .hero-title {
    padding-bottom: 274px;
  }
}
.title-container {
  position: relative;
  margin: 0, auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 50px;
    padding-top: 281px;
    padding-bottom: 212px;
    max-width: 380px;
  }
  .hero-socials,
  .hero-socials-and-email {
    gap: 4px;
  }
  .hero-socials-link {
    font-size: 14px;
    height: 37px;
    width: 37px;
  }
  .hero-email {
    font-size: 14px;
    height: 37px;
    border-radius: 18.5px;
    padding: 0 12px;
  }
  .color-selector-wrapper {
    bottom: 60px;
    right: 16px;
  }
  .color-circles-item {
    height: 49px;
    padding: 2px 0;
  }
  .color-selector-btn,
  .color-circle {
    width: 45px;
    height: 45px;
  }
}

/* BACKGROUND MEDIA RULES    */

@media screen and (max-width: 600px) {
  .hero-ridges {
    background: repeating-linear-gradient(
        90deg,
        rgba(127, 127, 127, 0.2) 0px,
        rgba(255, 255, 255, 0.1) 2.6%,
        rgba(0, 0, 0, 0.2) 3.5%,
        rgba(127, 127, 127, 0.2) 12.5%
      ),
      linear-gradient(90deg, var(--main-color-text), var(--bg-main) 100%);
    background-blend-mode: overlay;
    transform: translateX(-2.5%);
  }
}
@media (hover: none) and (pointer: coarse) {
  .color-selector-btn::before {
    left: -200px;
    visibility: visible;
    opacity: 0.4;
    font-size: 13.4px;
  }
}
/* #endregion MEDIA*/
