.hero-section {
  position: relative;
}
/* #region BACKGROUND */
.hero-bg {
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--bg-main);
  z-index: -10;
}
.hero-ridges {
  display: flex;
  min-width: 70%;
  max-width: 840px;
  height: 100%;
  background: repeating-linear-gradient(
      90deg,
      rgba(127, 127, 127, 0.2) 0px,     /* 0% */ 
      rgba(255, 255, 255, 0.1) 1.75%,   /* 43% */ 
      rgba(0, 0, 0, 0.2) 2.33%,         /* 57% */ 
      rgba(127, 127, 127, 0.2) 8.33%    /* 100% */
    ),
    linear-gradient(90deg, var(--main-color-text), var(--bg-main) 100%);background-blend-mode: overlay;
  transform: translateX(-1.66%);
}
/* #endregion BACKGROUND*/

.hero-content {
  background: transparent;
}
.hero-title {
  font-weight: 500;
  font-size: 90px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 1150px;

  padding-top: 188px;
  padding-bottom: 330px;
}

/* #region SOCIALS AND EMAIL */
.hero-socials-and-email {
  padding-bottom: 32px;

  display: flex;
  gap: 8px;
  justify-content: end;
}
.hero-socials {
  display: flex;
  gap: 8px;
}
.hero-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 55px;
  width: 55px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
}
.hero-email {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 55px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 27.5px;
  padding: 0 24px;
}
/* #endregion SOCIALS AND EMAIL*/

/* #region MEDIA */
@media screen and (max-width: 1439px) {
  .hero-title {
    padding-bottom: 274px;
  }
}
.title-container {
  margin: 0, auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 50px;
    padding-top: 281px;
    padding-bottom: 212px;
    max-width: 380px;
  }
  .hero-socials,
  .hero-socials-and-email {
    gap: 4px;
  }
  .hero-socials-link {
    font-size: 14px;
    height: 37px;
    width: 37px;
  }
  .hero-email {
    font-size: 14px;
    height: 37px;
    border-radius: 18.5px;
    padding: 0 12px;
  }
}

/* BACKGROUND MEDIA RULES    */

@media screen and (max-width: 600px) {
  .hero-ridges {
    background: repeating-linear-gradient(
        90deg,
        rgba(127, 127, 127, 0.2) 0px,
        rgba(255, 255, 255, 0.1) 2.6%,
        rgba(0, 0, 0, 0.2) 3.5%,
        rgba(127, 127, 127, 0.2) 12.5%
      ),
      linear-gradient(90deg, var(--main-color-text), var(--bg-main) 100%);
    background-blend-mode: overlay;
    transform: translateX(-2.5%);
  }
}
/* #endregion MEDIA*/
