/* #region BACKGROUND */
.mob-menu-bg {
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--bg-main);
  z-index: -1;
}

.mob-menu-ridges {
  display: flex;
  width: 70%;
  height: 100%;
  background: repeating-linear-gradient(
      90deg,
      rgba(127, 127, 127, 0.2) 0px,
      rgba(255, 255, 255, 0.1) 2.1%,
      rgba(0, 0, 0, 0.2) 2.8%,
      rgba(127, 127, 127, 0.2) 10%
    ),
    linear-gradient(90deg, var(--main-color-text), var(--bg-main) 100%);
  background-blend-mode: overlay;
  transform: translateX(-2%);
}
/* #endregion */

/* #region CONTAINER */
.mob-menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background: transparent;
  position: fixed;
  z-index: 100;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
/* #endregion CONTAINER*/

/* #region MENU LIST */
.mob-menu-list {
  flex-grow: 1;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.mob-menu-link {
  display: block;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  font-size: 20px;
  padding: 20px;
}
/* #endregion MENU LIST*/

/* #region ORDER BUTTON */
.mob-menu-order-btn {
  margin-bottom: 64px;
}
.order-link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* #endregion ORDER BUTTON*/

/* #region CROSS BUTTON */
.mob-menu-closing-cross-btn {

  position: absolute;
  top: 10px;
  right: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 40px;
}
.cross-dash {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fafafa;
  border-radius: 1px;
}
.cross-dash-Z {
  transform: rotate(45deg);
}
.cross-dash-N {
  transform: rotate(-45deg);
}
/* #endregion CROSS BUTTON*/
