.reviews-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: calc((100% - 16px) / 2);
  height: auto !important;
  margin-bottom: 32px;
  overflow: hidden;
}

.title-rev {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  font-family: 'Inter Tight', sans-serif;
  flex-shrink: 1;
  margin-bottom: 8px;
}

.text-rev {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight', sans-serif;
}

.reviews-list-container {
  margin-bottom: 32px;
}

.reviews-image {
  border-radius: 10px;
  width: 48px;
  height: 48px;
}
