.works-wrapper {
  padding: 80px 164px 169px 164px;
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .works-wrapper {
    padding: 80px 32px 169px 32px;
  }
}
@media only screen and (max-width: 767px) {
  .works-wrapper {
    padding: 32px 16px;
  }
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
/* #region Title */
.works-wrapper-title {
  position: relative;
  width: 542px;
  display: flex;
  padding: 8px 0;
  margin-bottom: 18px;
}
@media only screen and (max-width: 767px) {
  .works-wrapper-title {
    max-width: 343px;
    padding: 4px 0;
    margin-bottom: 63px;
  }
}
.works-avatar {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 24px;
  border: none;
}
@media only screen and (max-width: 767px) {
  .works-avatar {
    top: 0;
    width: 44px;
    height: 44px;
    border-radius: 12px;
  }
}

.works-title {
  font-weight: 500;
  font-size: 64px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .works-title {
    font-size: 40px;
  }
}

/* #endregion */
/* #region Form */
.works-form {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

@media only screen and (max-width: 767px) {
  .works-form {
    flex-direction: column;
    align-items: first baseline;
    margin-bottom: 64px;
  }
}
.works-input {
  padding: 0;
  width: 390px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  background-color: transparent;
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .works-input {
    width: 240px;
  }
}
@media only screen and (max-width: 767px) {
  .works-input {
    width: 100%;
    max-width: 343px;
  }
}
.email-input {
  margin-right: 32px;
}
@media only screen and (max-width: 767px) {
  .email-input {
    margin-bottom: 16px;
  }
}
.comment-input {
  margin-right: 86px;
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .comment-input {
    margin-right: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .comment-input {
    margin-bottom: 32px;
  }
}
.works-btn {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  cursor: pointer;
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: all 0.25s ease;
}
@media only screen and (max-width: 767px) {
  .works-btn {
    width: 100px;
    height: 100px;
  }
}
.works-btn:hover,
.works-btn:focus {
  opacity: 0.8;
}
/* #endregion */
/* #region Adress */
.works-contacts {
  display: flex;
  font-style: normal;
  gap: 8px;
}
@media only screen and (max-width: 767px) {
  .works-contacts {
    gap: 4px;
  }
}
.works-contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.works-contacts-link {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 32px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

@media only screen and (max-width: 767px) {
  .works-contacts-link {
    padding: 10px 12px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .works-contacts-link {
    padding: 10px;
  }
}
/* #endregion */

/* #region Modal */
#modal {
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(15, 15, 16, 0.6);
}
#modal.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}
.modal-message {
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px;
  width: 492px;
  height: 246px;
  background-color: var(--bg-main);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .modal-message {
    padding: 64px 32px;
    width: 343px;
    height: 276px;
  }
}
.close-modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 26px;
  right: 26px;
  background-color: transparent;
  border: none;
}
.modal-pict {
  stroke: #fafafa;
  background-color: transparent;
}
.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.modal-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}
/* #endregion */
