<section class="section hero-section">
  <div class="hero-bg">
    <div class="hero-ridges text-color"></div>
  </div>

  <div class="container hero-container">
    <div class="title-container">
      <h1 class="hero-title">
        Hello.<br />
        I’m a Fullstack developer<br />
        Lloyd Jefferson.
      </h1>
    </div>

    <div class="color-selector-wrapper">
      <ul class="color-circles hidden">
        <li class="color-circles-item">
          <button class="color-circle olive active" value="olive"></button>
        </li>
        <li class="color-circles-item">
          <button class="color-circle orange" value="orange"></button>
        </li>
        <li class="color-circles-item">
          <button class="color-circle rosy" value="rosy"></button>
        </li>
        <li class="color-circles-item">
          <button class="color-circle terracotte" value="terracotte"></button>
        </li>
        <li class="color-circles-item">
          <button class="color-circle lilac" value="lilac"></button>
        </li>
        <li class="color-circles-item">
          <button class="color-circle turquoise" value="turquoise"></button>
        </li>
      </ul>

      <button class="color-selector-btn"></button>
    </div>

    <div class="hero-socials-and-email">
      <ul class="hero-socials">
        <li class="hero-socials-item">
          <a
            target="_blank"
            href="https://www.instagram.com/goitclub/"
            class="hero-socials-link"
            >IG</a
          >
        </li>
        <li class="hero-socials-item">
          <a
            target="_blank"
            href="https://www.facebook.com/goITclub/ "
            class="hero-socials-link"
            >FB</a
          >
        </li>
        <li class="hero-socials-item">
          <a
            target="_blank"
            href="https://www.youtube.com/c/GoIT  "
            class="hero-socials-link"
            >YT</a
          >
        </li>
        <li class="hero-socials-item">
          <a
            target="_blank"
            href="https://github.com/nestertsovv/dream-team-project-js"
            class="hero-socials-link"
            >GH</a
          >
        </li>
      </ul>
      <a href="mailto:lloydjefferson@gmail.com" class="hero-email"
        >lloydjefferson@gmail.com</a
      >
    </div>
  </div>
</section>
