<div class="mob-menu-container js-mob-menu">
  <div class="mob-menu-bg">
    <div class="mob-menu-ridges bg-color"></div>
  </div>

  <button class="mob-menu-closing-cross-btn js-cross">
    <div class="cross-dash cross-dash-Z"></div>
    <div class="cross-dash cross-dash-N"></div>
  </button>

  <ul class="mob-menu-list">
    <li class="mob-menu-item">
      <a href="#about-me" class="mob-menu-link">About me</a>
    </li>
    <li class="mob-menu-item">
      <a href="#benefits" class="mob-menu-link">Benefits</a>
    </li>
    <li class="mob-menu-item">
      <a href="#projects" class="mob-menu-link">Projects</a>
    </li>
    <li class="mob-menu-item"><a href="#faq" class="mob-menu-link">FAQ</a></li>
  </ul>

  <button class="main-btn js-change-theme mob-menu-order-btn">
    <div class="btn-bg bg-color"></div>
    <a href="#work-togather" class="order-link">Order the project</a>
  </button>
</div>
