<section class="container">
  <div class="section">
    <h2 class="section-name name-projects">Projects</h2>
    <div class="box-content js-content">
      <div class="box-text">
        <div class="box-it-text">
          <p class="it-text">#react</p>
          <p class="it-text">#js</p>
          <p class="it-text">#node js</p>
          <p class="it-text">#git</p>
        </div>
        <h3 class="caption-project">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>
        <button type="button" class="main-btn">
          <div class="btn-bg bg-color"></div>
          <span>See project</span>
        </button>
      </div>
      <div class="box-img">
        <picture>
          <!-- <source
            media="(min-width: 1378px)"
            srcset="
          ./img/projects/projects1@1x.png 1x
          ./img/projects/projects1@2x.png 2x"
            type="image/png"
          /> -->
          <!-- <source media="(min-width: )" srcset="" type="image/" />
        <source media="(min-width: )" srcset="" type="image/" /> -->
          <img src="./img/projects/projects1@1x.png" alt="Modal window" />
        </picture>
      </div>
    </div>
    <div class="arrow-box js-arrow">
      <svg class="svg-arrow js-arrow-l" width="32px" height="32px">
        <use href="./img/projects/arrow.svg"></use>
      </svg>
      <svg class="svg-arrow js-arrow-r" width="32px" height="32px">
        <use href="./img/projects/arrow.svg"></use>
      </svg>
    </div>
  </div>
</section>
