<section class="container" id="#progects">
  <div class="section">
    <h2 class="section-name name-projects">Projects</h2>

    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="box-content js-content">
            <div class="box-text">
              <div class="box-it-text">
                <p class="it-text">#react</p>
                <p class="it-text">#js</p>
                <p class="it-text">#node js</p>
                <p class="it-text">#git</p>
              </div>
              <h3 class="caption-project">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/nestertsovv/dream-team-project-js"
                class="main-btn"
                target="_blank"
              >
                <div class="btn-bg bg-color btn-projects"></div>
                <span>See project</span>
              </a>
            </div>
            <div class="box-img">
              <picture>
                <source
                  media="(min-width: 1378px)"
                  srcset="
                    ../img/projects/img-desk-tab/img1@1x.avif 1x,
                    ../img/projects/img-desk-tab/img1@2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../img/projects/img-desk-tab/img1@1x.avif 1x,
                    ../img/projects/img-desk-tab/img1@2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ../img/projects/img-mob/img1-mob@1x.avif 1x,
                    ../img/projects/img-mob/img1-mob@2x.avif 2x
                  "
                  type="image/avif"
                />
                <img
                  src="../img/projects/img-desk-tab/img1@1x.avif"
                  alt="Modal window"
                  class="img-projects"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="box-content js-content">
            <div class="box-text">
              <div class="box-it-text">
                <p class="it-text">#react</p>
                <p class="it-text">#js</p>
                <p class="it-text">#node js</p>
                <p class="it-text">#git</p>
              </div>
              <h3 class="caption-project">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/nestertsovv/dream-team-project-js"
                class="main-btn"
                target="_blank"
              >
                <div class="btn-bg bg-color btn-projects"></div>
                <span>See project</span>
              </a>
            </div>
            <div class="box-img">
              <picture>
                <source
                  media="(min-width: 1378px)"
                  srcset="
                    ../img/projects/img-desk-tab/img2@1x.avif 1x,
                    ../img/projects/img-desk-tab/img2@2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../img/projects/img-desk-tab/img2@1x.avif 1x,
                    ../img/projects/img-desk-tab/img2@2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ../img/projects/img-mob/img2-mob@1x.avif 1x,
                    ../img/projects/img-mob/img2-mob@2x.avif 2x
                  "
                  type="image/avif"
                />
                <img
                  src="../img/projects/img-desk-tab/img2@1x.avif"
                  alt="Modal window"
                  class="img-projects"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="box-content js-content">
            <div class="box-text">
              <div class="box-it-text">
                <p class="it-text">#react</p>
                <p class="it-text">#js</p>
                <p class="it-text">#node js</p>
                <p class="it-text">#git</p>
              </div>
              <h3 class="caption-project">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/nestertsovv/dream-team-project-js"
                class="main-btn"
                target="_blank"
              >
                <div class="btn-bg bg-color btn-projects"></div>
                <span>See project</span>
              </a>
            </div>
            <div class="box-img">
              <picture>
                <source
                  media="(min-width: 1378px)"
                  srcset="
                    ../img/projects/img-desk-tab/img3@1x.avif 1x,
                    ../img/projects/img-desk-tab/img3@2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ../img/projects/img-desk-tab/img3@1x.avif 1x,
                    ../img/projects/img-desk-tab/img3@2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ../img/projects/img-mob/img3-mob@1x.avif 1x,
                    ../img/projects/img-mob/img3-mob@2x.avif 2x
                  "
                  type="image/avif"
                />
                <img
                  src="../img/projects/img-desk-tab/img3@1x.avif"
                  alt="Modal window"
                  class="img-projects"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="arrow-box js-arrow">
      <svg class="svg-arrow js-arrow-l" width="32px" height="32px">
        <use href="../img/projects/spriet-progect.svg#arrow-left"></use>
      </svg>
      <svg class="svg-arrow js-arrow-r" width="32px" height="32px">
        <use href="../img/projects/spriet-progect.svg#arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
