<section class="section" id="projects">
  <div class="container">
    <h2 class="section-name name-projects">Projects</h2>

    <div class="swiper mySwiper">
      <ul class="swiper-wrapper js-swiper"></ul>
    </div>

    <div class="arrow-box js-arrow">
      <button class="btn-btn" type="button">
        <svg class="svg-arrow js-arrow-l" width="32px" height="32px">
          <use href="../img/projects/spriet-progect.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="btn-btn" type="button">
        <svg class="svg-arrow js-arrow-r" width="32px" height="32px">
          <use href="../img/projects/spriet-progect.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
