<section class="section" id="reviews">
  <div class="container">
    <h2 class="section-name name-projects">Reviews</h2>

    <div class="swiper revSwiper">
      <ul class="swiper-wrapper js-swiper-rev"></ul>
    </div>

    <div class="arrow-box js-arrow">
      <button class="btn-btn" title="btn" type="button">
        <svg class="svg-arrow js-l" width="32px" height="32px">
          <use href="../img/projects/spriet-progect.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="btn-btn" title="btn" type="button">
        <svg class="svg-arrow js-r" width="32px" height="32px">
          <use href="../img/projects/spriet-progect.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
