<footer class="section">
  <div class="container">
    <div class="works-top-side">
      <div class="works-slogan">
        <p>
          <span class="works-avatar">
            <img src="../img/works/avatar.jpg" alt="avatar" /></span
          >Let’s work together
        </p>
        <form>
          <input type="email" name="email" placeholder="clients@gmail.com" />
          <input type="text" name="comment" placeholder="comments" />
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
    <div class="works-bottom-side">
      <address></address>
    </div>
  </div>
</footer>
